@import 'tailwindcss';
@theme {
  --color-primary: #222831;
  --color-secondary: #31363f;
  --color-accent: #76abae;
  --color-text-primary: #eeeeee;
  --color-text-secondary: #76abae;
  --color-text-warning: rgb(202, 0, 27);
  --color-disabled: #f0f0f0;
  --color-warning: rgb(202, 0, 27);
}

.fc-header-toolbar {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 640px) {
  .fc-header-toolbar {
    display: flex;
    flex-direction: row;
  }
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

* {
  user-select: none;
  transition: all;
  transition-duration: 50ms;
}
